<div class="container">
    {{#if data}}
        <div class="jumbotron fill no-margin">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="thumbnail profile-img">
                        <!--Imagem Lado esquerdo-->
                        <img class="img-circle img-responsive" src="{{data.photo_url}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                    <div class="thumbnail profile-info">
                        <!--Info Centrado-->
                        <p>
                        <h3><span> Nome: {{data.name}} </span></h3></p>
                        <p><h4><span> Idade: {{data.birthday}} </span></h4></p>
                        <p><h4><span> Localidade: {{data.location}} </span></h4></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="thumbnail profile-contact">
                        <!--Info rating/contact/price h-->
                        <span>7.5/10 </span><!--rating-->
                        <div><!--Contact-->
                            <span> Phone: {{data.phone}} </span>
                        </div>
                        <span>{{data.price}}€/h</span><!--price h-->
                    </div>
                    <br>
                    <button type="button" class=" btn btn-primary"> Contactar</button>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{#if data.description}}
                        <div class="thumbnail profile-description">
                            <!--Descrição da babysitter-->
                            <span> {{data.description}}</span>
                        </div>
                        {{/if}}
                        <div class="thumbnail profile-description">
                            <h3>Disponibilidade</h3>
                            {{#if availability}}
                                {{#each availability}}
                                    <ul>
                                        <div>data - {{this.date}}</div>
                                        <div>hora inicio - {{this.start_hour}}</div>
                                        <div>hora fim - {{this.end_hour}}</div>
                                    </ul>
                                {{/each}}
                            {{else}}
                                <div>Não existem dados.</div>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>