<div class="container">
    {{#if data}}
        <div class="jumbotron fill no-margin">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="profile-img">
                        <!--Imagem Lado esquerdo-->
                        <img class="img-circle img-profile-big"
                             style="background-image: url({{data.photo_url}})">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                    <div class="thumbnail">
                        <h2 style="text-align: center; width: 100%; margin: 20px 0"><span>{{data.name}} </span></h2>
                        <div>
                            <table style=" width: 100%;margin: 0 auto;">
                                <tr>
                                    <td>
                                        <h5><span>{{data.birthday}} anos</span></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><span>{{data.location}}</span></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><span>{{data.evaluation}}</span></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><span>{{data.phone}}</span></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><span>{{data.price}}</span></h5>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                {{#if data.description}}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="thumbnail profile-description">
                            <!--Descrição da babysitter-->
                            <span> {{{data.description}}}</span>
                        </div>
                    </div>
                {{/if}}
                <br>
                <br>
                {{#if availability}}

                <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h2 class="panel-title">Disponibilidade</h2>

                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Hora Inicio</th>
                            <th>Hora Fim</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each availability}}
                            <tr>
                                <td>
                                    {{this.date}}
                                </td>
                                <td>
                                    {{this.start_hour}}:00
                                </td>
                                <td>
                                    {{this.end_hour}}:00
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>

                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                    <!--<div class="thumbnail profile-description">-->
                        <!--{{#each availability}}-->
                    <!--<div>{{this.date}}</div>-->
                        <!--{{/each}}-->
                    <!--</div>-->
                    <!--</div>-->
                {{/if}}
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="thumbnail profile-contact">
                        <!--Info rating/contact/price h-->
                        <a href="#" class=" btn btn-primary btn-block">Contactar</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>


<nav aria-label="Page navigation">
    <ul class="pagination">
        {{#each numberPages}}
            <li><a href="/babysitter/{{../data.uid}}/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</nav>