<form method="post" action="/user/profile/edit">
    {{# if babysitter}}
        Name:<br>
        <input type="text" value="{{user.name}}" name="name">
        <p></p>
        Birthday:<br>
        //TODO mudar o type para date
        <input type="text" value="{{user.birthday}}" name="birthday">
        <p></p>
        Location:<br>
        <input type="text" value="{{user.location}}" name="location">
        <p></p>
        Price:<br>
        <input type="number" value="{{user.price}}" name="price">
        <p></p>
        Phone:<br>
        <input type="text" value="{{user.phone}}" name="phone">
        <p></p>
        Description:<br>
        <input type="text" value="{{user.description}}" name="description">
        <p></p>
        <button type="submit">Guardar</button>
    {{else}}
        {{#if client}}
            Name:
            <p><input type="text" value="{{user.name}}" name="name"></p>
            Address:
            <p><input type="text" value="{{user.address}}" name="address"></p>
            Phone:
            <p><input type="text" value="{{user.phone}}" name="phone"></p>
            <button type="submit">Guardar</button>
        {{/if}}
    {{/ if}}

</form>