<div class="container">
    <h1>Histórico</h1>
    {{# if data}}
        {{# if babysitter}}
            {{#each data}}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th> Client </th>
                        <th> Date </th>
                        <th> Address </th>
                        <th> Start Hour </th>
                        <th> Duration </th>
                        <th> Evaluation </th>
                        <th> Price </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.client_name}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.start_hour}}</td>
                        <td>{{this.duration}}</td>
                        <td>{{this.evaluation}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{this.client_name}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.start_hour}}</td>
                        <td>{{this.duration}}</td>
                        <td>{{this.evaluation}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{this.client_name}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.start_hour}}</td>
                        <td>{{this.duration}}</td>
                        <td>{{this.evaluation}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    </tbody>
                </table>
            {{/each}}
        {{else}}
            {{#each data}}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th> Client </th>
                        <th> Date </th>
                        <th> Address </th>
                        <th> Start Hour </th>
                        <th> Duration </th>
                        <th> Evaluation </th>
                        <th> Price </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.client_name}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.start_hour}}</td>
                        <td>{{this.duration}}</td>
                        <td>{{this.evaluation}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{this.client_name}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.start_hour}}</td>
                        <td>{{this.duration}}</td>
                        <td>{{this.evaluation}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{this.client_name}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.start_hour}}</td>
                        <td>{{this.duration}}</td>
                        <td>{{this.evaluation}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    </tbody>
                </table>
            {{/each}}
        {{/if}}
    {{else}}
        <div class="container">
            <h1 style="padding: 100px 0;">Não existem Dados.</h1>
        </div>
    {{/if}}
</div>