<div class="container">
    <h1>Histórico</h1>
    {{# if data}}
        {{# if babysitter}}

            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Morada</th>
                        <th>Hora Início</th>
                        <th>Duração</th>
                        <th>Avaliação</th>
                        <th>Preço</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr>
                            <td>{{this.client_name}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.start_hour}}</td>
                            <td>{{this.duration}}</td>
                            <td>{{this.evaluation}}</td>
                            <td>{{this.price}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        {{else}}

            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora Início</th>
                        <th>Duração</th>
                        <th>Avaliação</th>
                        <th>Preço</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr class="link">
                            <td>{{this.date}}</td>
                            <td>{{this.start_hour}}</td>
                            <td>{{this.duration}}</td>
                            <td>
                                {{#if this.evaluation}}
                                    {{this.evaluation}}
                                {{else}}
                                    <!--TODO put input if empty-->
                                    need input
                                {{/if}}

                            </td>
                            <td>{{this.price}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        {{/if}}
    {{else}}
        <div class="container">
            <h1 style="padding: 100px 0;">Não existem Dados.</h1>
        </div>
    {{/if}}
</div>