{{#if babysitter}}
    <div class="container">
        <a href="/user/profile/edit">
            <button type="button" class=" btn btn-primary edit-button">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </a>
        <div class="jumbotron fill no-margin">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">

                    <div class="img-profile-big">
                        <a href="#" style="display: block;">
                            <button type="submit" id="photo_change" style="position: absolute; right: 50px; top: 2px;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>
                        {{#if user.photo_url}}
                            <img style="background-image: url({{user.photo_url}}); margin: 0;">
                        {{else}}
                            <img class="img-profile-small"
                                 style="background-image: url('/images/icon_undifined.png')">
                        {{/if}}
                        <form id="uploadForm" style="display: none;"
                              enctype="multipart/form-data"
                              action="/user/fileupload"
                              method="post">
                            <input type="file" name="userPhoto" required/>
                            <input type="submit" id="photo_uploaded" value="Upload Image" name="submit">
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="thumbnail profile-info">
                        <h2 class="small-h2">{{user.name}}</h2>
                        <div class="col-xs-6">
                            <h3 class="small-h3">{{this.age}} Anos</h3>
                            <h3 class="small-h3"><span class="glyphicon glyphicon-home"></span>{{user.location}}</h3>
                            <h3 class="small-h3"><span class="glyphicon glyphicon-star-empty"></span>10/10</h3>
                        </div>
                        <div class="col-xs-6 column-right">
                            <br>
                            <br>
                            <h3 class="small-h3"><span class="glyphicon glyphicon-euro"></span>{{user.price}}</h3>
                            <h3 class="small-h3"><span class="glyphicon glyphicon-phone"></span>{{user.phone}}</h3>
                        </div>
                    </div>
                </div>
                {{#if user.description}}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="thumbnail">
                            <h2>Descrição</h2>
                            <h4>{{user.description}}</h4>
                        </div>
                    </div>
                {{else}}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px">
                        <div class="thumbnail">
                            <h2>Descrição</h2>
                            <h3>Não existe Descrição</h3>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{else}}
    {{#if client}}
        <div class="container">
            <a href="/user/profile/edit">
                <button type="button" class=" btn btn-primary edit-button">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
            <div class="jumbotron fill no-margin">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-bottom: 50px; ">
                        <div class="img-profile-big">
                            <a href="#" style="display: block;">
                                <button type="submit" id="photo_change" style="position: absolute; right: 50px; top: 2px;">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            {{#if user.photo_url}}
                                <img style="background-image: url({{user.photo_url}}); margin: 0;">
                            {{else}}
                                <img class="img-profile-small"
                                     style="background-image: url('/images/icon_undifined.png')">
                            {{/if}}
                            <form id="uploadForm" style="display: none;"
                                  enctype="multipart/form-data"
                                  action="/user/fileupload"
                                  method="post">
                                <input type="file" name="userPhoto" required/>
                                <input type="submit" id="photo_uploaded" value="Upload Image" name="submit">
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="thumbnail profile-info">
                            <h2 class="small-h2">{{user.name}}</h2>
                            <div class="col-xs-8">
                                <h3 class="small-h3">{{userAge}} Anos</h3>
                                <h3 class="small-h3"><span class="glyphicon glyphicon-home"></span>{{user.address}}</h3>
                                <h3 class="small-h3"><span class="glyphicon glyphicon-phone"></span>{{user.phone}}</h3>
                            </div>
                        </div>
                    </div>
                    {{#if user.description}}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="thumbnail">
                                <h2>Descrição</h2>
                                <h4>{{user.description}}</h4>
                            </div>
                        </div>
                    {{else}}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px">
                            <div class="thumbnail">
                                <h2>Descrição</h2>
                                <h3>Não existe Descrição</h3>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
    {{/if}}
    </div>
{{/if}}