<div class="container">
    <h1> Marcações </h1>
    {{#if data}}
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th> Client</th>
                    <th> Date</th>
                    <th> Address</th>
                    <th> Start Hour</th>
                    <th> Duration</th>
                    <th> Price</th>
                </tr>
                </thead>
                {{#each data}}

                    <tr data-href="#">
                        <a href="#">
                            <div>
                                <td>{{this.client_name}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.start_hour}}</td>
                                <td>{{this.duration}}</td>
                                <td>{{this.price}}</td>
                            </div>
                        </a>
                    </tr>
                {{/each}}

            </table>

        </div>

    {{else}}
        <div class="container">
            <h1 style="padding: 100px 0;">Não existem Dados.</h1>
        </div>
    {{/if}}
</div>