<div class="container">

    <form action="/user/scheduling" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome" value="{{searchName}}" name="name" id="name">
            <input type="text" class="form-control" placeholder="Localização" value="{{searchLocation}}" name="location" id="location">
            <input type="text" class="form-control" placeholder="Preço Mínimo" value="{{searchPriceMin}}" name="priceMin" id="priceMin">
            <input type="text" class="form-control" placeholder="Preço Máximo" value="{{searchPriceMax}}" name="priceMax" id="priceMax">
            <input type="text" class="form-control" placeholder="Data" value="{{searchDate}}" name="date" id="dayMonth">
            <select id="babysitterRate" name="evaluation">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <button type="submit" class="btn btn-md btn-success">Pesquisar</button>

        </div>
    </form>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Babysitters</div>
        <!-- List group -->
        {{# if data}}
            {{#each data}}
                <ul class="list-group babysitter-list">
                    <a href="/babysitter/{{this.uid}}">
                        <li class="list-group-item">{{this.name}}</li>
                    </a>
                </ul>
            {{/each}}
        {{else}}
            <div class="container">
                <h1 style="padding: 100px 0;">Não existem Dados.</h1>
            </div>
        {{/if}}
    </div>


</div>