<div class="container">
    <h1> Marcações </h1>
    {{#if data}}
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <span class="glyphicon glyphicon-user"></span>
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-home"></span>
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-play"></span>
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-time"></span>
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-euro"></span>
                    </th>

                </tr>
                </thead>
                {{#each data}}

                    <tr data-href="#">
                        <a href="#">
                            <div>
                                <td>{{this.client_name}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.start_hour}}</td>
                                <td>{{this.duration}}</td>
                                <td>{{this.price}}</td>
                            </div>
                        </a>
                    </tr>
                {{/each}}

            </table>

        </div>

    {{else}}
        <div class="container">
            <h1 style="padding: 100px 0;">Não existem Dados.</h1>
        </div>
    {{/if}}
</div>